  <ion-header style="margin-top: 20px;margin-bottom: 20px;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons>
            <ion-back-button class="back-btn" slot="start"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <div>
            <h6 style="text-align:center;">MAKLUMBALAS</h6>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-toolbar> -->
</ion-header>
<ion-content [fullscreen]="true">
  <div class="welcom">
    <h3>Hai, Dah gosok gigi?</h3>
  </div>

  <div class="button1">
    <ion-button style="width: 150px; height: 150px;font-size: 23px;" (click)="Sudha()">Sudah</ion-button>
  </div>
  <div class="button2">
    <ion-button color="danger" style="width: 150px; height: 150px;font-size: 23px;" (click)="Belum()">Belum</ion-button>
  </div>

</ion-content>
