
// ion-content {
//   --background: none;
//   background-image: url('../assets/images/home.png');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.login {
  text-align: center;
  margin-top: 120%;
}
.image {
  margin-top: 15%;
  text-align: center;
}
ion-input {
  border: solid 1px rgb(255, 255, 255);
  // width: 95%;
  border-color: #86d0eb;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  text-align: left;
}

ion-content{
  --background: url('/assets/images/login.png') no-repeat center/cover fixed;
}

#button{
  --color: rgb(255, 255, 255);
  --background:#54a3d9 !important;
  border-radius: 10px 10px 10px 10px;
  width: 300px;
  height: 55px;
}
#buttonReg{
  --color: rgb(0, 0, 0);
  --background:#ffffff !important;
  border-radius: 10px 10px 10px 10px;
  width: 300px;
  height: 55px;
  margin-top: 12px;
  border: solid 1px rgb(255, 255, 255);
  border-color: #86d0eb;
}

.input{
  width: 302px;
  height: 53px;
  margin-top: 8px;
}
.label{
  color:rgb(0, 0, 0); color: rgb(0, 0, 0);
    font-size: 13px;
    margin-left: -111px;
    margin-right: 46px;
}