<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-router-outlet><app-login></app-login></ion-router-outlet>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
</ion-content>
<!-- <ion-content>
  <div class="Ellipse7">
    <img src="../assets/images/Ellipse 7.png">
  </div>
  <div class="Ellipse8">
    <img src="../assets/images/Ellipse 8.png">
  </div>
  <div class="Ellipse9">
    <img src="../assets/images/Ellipse 9.png">
  </div>
  <div class="Ellipse10">
    <img src="../assets/images/Ellipse 9.png">
  </div>
  <div class="Ellipse11">
    <img src="../assets/images/Ellipse 9.png">
  </div>
  <div class="Ellipse12">
    <img src="../assets/images/Ellipse 9.png">
  </div>
  <div class="BH">
    <img src="../assets/images/BH+ (1).png">
  </div>
  <div class="oralHealth">
    <img src="../assets/images/Better Health.png">
  </div>
  <div class="group14">
    <img src="../assets/images/Group14.png">
  </div>
  <div class="swiperight">
    <img src="../assets/images/swipe right to start.png">
  </div>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-router-outlet><app-login></app-login></ion-router-outlet>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
</ion-content> -->