ion-content{
    --background: url('/assets/images/swipe.png') no-repeat center/cover fixed;
}
// ion-content{
//     --background: linear-gradient(162.57deg, #219CDB 0.7%, #80DFF3 71.44%);
// box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.12);
// border-radius: 40px;
// }

ion-slides {
    height: 100%;
  }

  .Ellipse7{
    /* Ellipse 7 */

box-sizing: border-box;

position: absolute;
width: 211.19px;
height: 110.71px;
left: 235.5px;
top: 26px;

transform: rotate(26.18deg);

  }
  .Ellipse8{
    /* Ellipse 8 */

box-sizing: border-box;

position: absolute;
width: 432.08px;
height: 141.23px;
left: 63.52px;
top: 77.87px;

transform: rotate(26.18deg);

  }

  .Ellipse9{
    /* Ellipse 9 */

box-sizing: border-box;

position: absolute;
width: 542.07px;
height: 141.23px;
left: 2.31px;
top: 205.26px;

transform: rotate(26.18deg);

  }

  .BH{
    /* BH+ */

position: absolute;
width: 215px;
height: 122px;
left: 106px;
top: 356px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 122px;
/* identical to box height */

color: #FFFFFF;


  }

  .oralHealth{
    /* Better Health */

position: absolute;
width: 186px;
height: 24px;
left: 112px;
top: 466px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.21em;

color: #FFFFFF;


  }

//   .scroll-content{
//     background: url('/assets/images/swipe.png') no-repeat center center fixed; 
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;

// }

.group14{
    right: -4px;
    position: absolute;
    margin-top: 180%;
    width: 20%;
// position: absolute;
// width: 95.67px;
// height: 88.96px;
// left: 339px;
// top: 848.67px;

// transform: rotate(-90deg);
}

.Ellipse10{
    /* Ellipse 10 */

box-sizing: border-box;

position: absolute;
width: 461.2px;
height: 141.23px;
left: 35.52px;
top: 386.88px;

transform: rotate(26.18deg);

}

.Ellipse11{
    /* Ellipse 11 */

box-sizing: border-box;

position: absolute;
width: 368.89px;
height: 141.23px;
left: 63.52px;
top: 542.54px;

transform: rotate(26.18deg);

}

.Ellipse12{
    /* Ellipse 12 */

box-sizing: border-box;

position: absolute;
width: 189.24px;
height: 85.37px;
left: 38.47px;
top: 709.9px;

transform: rotate(26.18deg);

}

.swiperight{
    /* swipe right to start */

position: absolute;
width: 177px;
height: 22px;
left: 31px;
top: 789px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


}